<h1 class="text-center">Google Place Nearby Search Api</h1>

<div class="d-flex justify-content-center">
    <div >
    <form [formGroup]="placesForm">
        <div class="mb-3">
            <label for="latitude">Latitude</label>
            <div class="form-group">
                <input type="number" id="latitude" formControlName="latitude" class="form-control"
                    placeholder="Latitude" />
            </div>
        </div>
        <div class="mb-3">
            <label for="longitude">Longitude</label>
            <div class="form-group">
                <input type="number" id="longitude" formControlName="longitude" class="form-control"
                    placeholder="Longitude" />
            </div>
        </div>
        <div class="mb-3">
            <label for="radius">Radius</label>
            <div class="form-group">
                <input type="number" id="radius" formControlName="radius" class="form-control"
                    placeholder="radius" />
            </div>
        </div>
    </form>
    <button class="btn btn-primary" (click)="GetPlaces()">Get All Places</button>
</div>
</div>

<hr>

<h4>{{place.next_page_token}}</h4>

<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">vicinity</th>
        <th scope="col">types</th>
        <th scope="col">longitude</th>
        <th scope="col">latitude</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pl of place.results">
        <td>{{pl.name}}</td>
        <td>{{pl.vicinity}}</td>
        <td><button style="margin: 5px ; " *ngFor="let item of pl.types" class="btn btn-primary">{{item}}</button></td>
        <td>{{pl.geometry.location.lng}}</td>
        <td>{{pl.geometry.location.lat}}</td>
      </tr>
    </tbody>
  </table>

  <hr>